@media(max-width: 640px){
    html{font-size: 12px;}

    header{
        flex-direction: column;
        height: max-content;
    }

    .header-left{
        width: 100%;
        margin: 1rem 0px;
    }

    .header-right{
        width: 100%;
        margin-top: 1rem;
    }

    .nav-options {
        flex-direction: column;
        display: none;
    }

    .hamburger-btn {
        display: flex;
    }

    .show-menu{
        display: flex;
    }
}

@media((max-width: 1007px) and (min-width: 641px)){
    html{font-size: 14px;}
}

@media(max-width: 1007px){
    /* Responsive design for each section */
    .about-section{
        flex-direction: column;
    }
}